.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 3.5rem;
    // background-color: brown;
    padding: 5px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    // max-width: 3.5rem;
    background-color: brown;
    padding: 5px;
    max-width: 150px;
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label{
            width: 20px;
            margin-right: 0.5rem;
        }
        input{
            width: 91px;
        }
    }
}

.search,
.password {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  border: 1px solid #ECF0EF;
  max-width: 250px;
  // height: 35px;
  padding: 0 10px;
}

input[type=search],
select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search > i{
  left: 23px;
  position: absolute;
  z-index: 9999;
  color: #afafaf;
}

.search > button {
  padding: 8px 8px;
  margin-left: 1em;
}

.search i:last-child,
.password i:last-child {
  // right: 7.5px;
  position: relative;
  z-index: 9999;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
}


input:focus~.placeholder{
  display: none;
}
