.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 3.5rem;
    // background-color: brown;
    padding: 5px;
}
