.button {
    height: 2.7rem;
    width: 2.7rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #004b9b;
    border-radius: 0.375rem;
}

.button > img {
    height: 1.7rem;
}

img, svg {
    vertical-align: middle;
}

.button:not(:disabled){
    cursor: pointer;
}